<%- include('../partials/head') %>
<form action="./add_recipe" method="post">
	<label for="title">Recipe title:</label>
	<input type="text" id="title" name="title"><br>
	<label for="ingredients">Choose ingredients:</label><br>
	<select name="ingredients" id="ingredients" multiple>
		<% ingredients.forEach((i)=> { %>
		<option value=<%=i.Ingredient%>><%=i.Ingredient%></option>
		<% }) %>
	</select><br>
	<label for="protein">Choose protein:</label><br>
	<select name="protein" id="protein">
		<% proteins.forEach((p)=> { %>
		<option value=<%=p.Protein%>><%=p.Protein%></option>
		<% }) %>
	</select><br>
	<input type="submit" value="Submit">
</form>
<%- include('../partials/foot') %>
