<%- include('../partials/head') %>
</head>
<body>
    <p><%=ingredients[0].RecipeName%></p>
    <ul>
        <% ingredients.forEach((ingredient)=> { %>
            <li>
                <div class="hover-container" style="width:fit-content"><%= ingredient.Ingredient %></p>
                <div class="popup" style="border: 2px solid black; background-color: white;"><%= ingredient.Description %></p>
            </li>
            <br>
        <% }) %>
    </ul>
<%- include('../partials/foot') %>
