<%- include('../partials/head') %>
</head>
<body>
    <div style="width:fit-content">
        <p style="font-weight: bold;">Beef</p>
        <ul>
            <% beef.forEach((recipe)=> { %>
                <li>
                    <a href="./recipe/<%=recipe.RecipeID%>"><%=recipe.RecipeName%></a>
                </li>
            <% }) %>
        </ul>
        <br>
        <hr>
        <p style="font-weight: bold;">Chicken</p>
        <ul>
            <% chicken.forEach((recipe)=> { %>
                <li>
                    <a href="./recipe/<%=recipe.RecipeID%>"><%=recipe.RecipeName%></a>
                </li>
            <% }) %>
        </ul>
        <br>
        <hr>
        <p style="font-weight: bold;">Pork</p>
        <ul>
            <% pork.forEach((recipe)=> { %>
                <li>
                    <a href="./recipe/<%=recipe.RecipeID%>"><%=recipe.RecipeName%></a>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../partials/foot') %>
